{% extends "base.html" %}

{% block container %}


<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
 <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
        <h4 class="modal-title" id="myModalLabel">预览第一个条目的正文部分</h4>
      </div>
      <div class="modal-body" id="preview">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" onclick="get_full()">生成RSS</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
function show(){
    document.getElementById("bs").style.display = "block";
}
function hide(){
    document.getElementById("bs").style.display = "none";
}
function modal(){
    $('#myModal').modal();

    var p = $('form').serialize();
    var ajax_load = '<p class="text-center"><img src="http://phyng.qiniudn.com/loding.gif" alt="loding..."></p>';
    var loadUrl = '/home/template/full/';
    console.log(p);

    $("#preview")
            .html(ajax_load)
            .load(loadUrl, p);
}
function get_full(){
    var p = $('form').serialize();
    var a = p.split('&');
    var s = a[1]+'&'+a[2]+'&'+a[3]+'&'+a[4]+'&'+a[5];
    var baseUrl = '/home/template/full/';
    window.open(baseUrl + '?' + s);


}
</script>

<h1 class="page-header">全文 RSS 生成器</h1>
<h2 class="sub-header">输入 RSS 链接</h2>

<div class="col-md-12">
<p></p>


<form name="form1" class="form-horizontal" role="form"  action="{% url 'home:full' %}" method="post">
 {% csrf_token %}
  <div class="form-group">
    <label for="url" class="col-sm-2 control-label" >RSS 地址</label>
    <div class="col-sm-8">
      <input name="url" type="url" class="form-control"  placeholder="http://" autofocus="autofocus" pattern="^http">

    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="radio col-sm-6" >
        <label>
          <input type="radio" name="type" id="optionsRadios1" value="ra" checked onchange="hide()">
          尝试使用<strong> Readability </strong>自动提取正文
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="radio col-sm-6">
        <label>
          <input type="radio" name="type" id="optionsRadios2" value="bs" onchange="show()">
          使用<strong> BeautifulSoup </strong>自定义参数提取正文
        </label>
      </div>
    </div>
  </div>

  <div id="bs" style="display:none">
  <div class="col-sm-3"></div>
  <div class="form-group col-sm-9 form-inline">

    <div class="input-group col-sm-3">
      <div class="input-group-addon">tag=</div>
      <input name="tag" type="text" class="form-control"  >
      </div>

    <div class="input-group col-sm-3">
      <div class="input-group-addon">class=</div>
      <input name="class" type="text" class="form-control">
      </div>

    <div class="input-group col-sm-3">
      <div class="input-group-addon">id=</div>
      <input name="id" type="text" class="form-control" >
      </div>
    </div>

  </div>



<div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
        <button type="button" class="btn btn-primary" onclick="modal()">预览</button>
    </div>
</div>

</form>







</div>









<div>
<h2 class="sub-header">帮助</h2>

<p>输入非全文的 RSS，输出全文RSS。</p>
<p>原理：假设非全文RSS只需要替换全文部分，其他部分不需要更新。第一步：读取RSS获取每个条目的链接；第二步：对每一个链接提取正文；第三步：合成新的RSS。</p>
<p>提供两个全文提取器：</p>
<p><ul>
<li>Readability：默认使用的全文提取器，大部分情况下能够很好的过滤无用标签得到干净的正文</li>
<li>BeautifulSoup：通过三个参数(tag, class, id)过滤，不会进一步清洗HTML。需要一点点HTML知识。</li>
</ul></p>
<p>
<p>以 <a href="http://www.ifanr.com/457493">ifanr</a>  为例，通过浏览器F12开发者工具，它的正文所在的区块的tag=div, class=entry-content, id=entry-content， 输入任意一个或多个参数都行。但是要注意此例中在tag处输入div显然不能过滤得到正文，因为网页远远不止一个div，当出现参数匹配多个内容的情况下返回第一个匹配的内容。</p>
<pre>&lt;div id="entry-content" class="entry-content"&gt;</pre>


</p>
</div>
{% endblock container %}



